body{
    background-color: #2ac0d4;
}
p{
    color:#8f0000;
  }
   
  img{
      border: solid;
      display: flexbox;
  }
  h1{
      background-color: #00ff00;
      color: #8f0000;
  }

  .header{
      display: flex;
      justify-content: space-between;
  }
  
  .menu{
      display: flex;
      justify-content: space-between;
  }

  .pictures{
      
    display: flex;
      justify-content:space-between;
    font-weight:900;
     border:3px solid #FF3468 ;
  }

  img{
      border:10px dashed #121270;
      border-radius: 200%;
  }

  .words{

    border:2px solid #437915;

  }

 

  
  